[submodule "submodules/cocos2d-x"]
	path = submodules/cocos2d-x
	url = git@github.com:folecr/cocos2d-x.git
[submodule "submodules/mozilla-prebuilt"]
	path = submodules/mozilla-prebuilt
	url = git@github.com:folecr/mozilla-prebuilt.git
[submodule "submodules/cxx-generator"]
	path = submodules/cxx-generator
	url = git://github.com/folecr/cxx-generator.git
