<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jsplayer"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/lizard">

        <activity android:name="com.spidermonkey.JSPlayer"
                  android:label="@string/js_player"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.spidermonkey.AssetsScripts"
                  android:label="@string/assets_js"
                  android:configChanges="orientation" />

        <activity android:name="com.cocosspidermonkey.JSPlayer"
                  android:label="@string/cocosjs_player"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cocosspidermonkey.AppsList"
                  android:label="@string/cocosjs_apps"
                  android:configChanges="orientation" />

    </application>

    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest> 
